*{
    padding: 0px;
    margin: 0px;
}
body{
    background-size: cover;
}
form{
    align-items: center;
    
    width: 20em;
     height: 20em;
    padding: 40px;
    margin-left: 470px;
    margin-top: 180px;
    border: 2px solid white;
}
.login h3{
    text-align: center; 
    text
}
/* increase the width of input box */
 .login input{
   height: 2em;
   width: 23em;
   
} 
 .login #loginbutton{
   width: 75%;
   background-color:dodgerblue;
   height: 2em;
   border: none;
   color: white;
   margin-left: 40px;
   align-items: center;
}
 .login .logmisc{
     
    
    align-items: center;
}
h1{
    text-decoration: solid;
    text: shadow 2px;
}
a:hover{
    color: white;
}